# Pass any variables defined in php-base (https://github.hc-sc.gc.ca/hs/php-base-docker)
TZ=America/Toronto
PHP_DEV_ENV=1

# You can also pass any variables defined in php-base-laminas (see https://github.hc-sc.gc.ca/hs/php-base-laminas-new-app)
ISSUED_DATE=2024-06-17
JWT_SECRET="PLEASE CHANGE ME! Secret salt for the JWT. The longer the more secure. Should be unique for each environment. UzacJwlFjGNTB1j9NYrVBVku2t7vAAyTQYrkt9u9fIu5G75lvMz9L7Dw6stA4nLPVrpIRd3yf4s8pHvJFDEiJw4I1NkkgngUE5GkSqHpKycrN7J58nd9DdhUqsj6zTWRwCqpRyJdiCcgvq9BHKYMgrfSTLbqTjLzSsUzHeSl6OljhgttLYlSqrxbr3l12honWHiobNmMrBGvPfhWLH2GtXmc73X6OWqgIUmRp5Dn8jf95IgoRqoJjQFrv7rKB8ZBKMMWvtaXmBVlVyFKyUfDX8homxj1jDoFF3IJDWh8tsrQ"
