# When using MySQL or MariaDB, you can use the MYSQL_* for your apps (or any other name you prefer).
# When using MariaDB, you can change them to MARIADB_* if you like.
# The only mandatory one for initialisation of the DB is MYSQL_ROOT_PASSWORD or MARIADB_ROOT_PASSWORD
MYSQL_ROOT_PASSWORD=***** https://passwords-generator.org/ with 32 or more characters *****
MYSQL_HOST=your host IP/domain name or docker container name
MYSQL_DB_NAME=your app name... usually (name of the database)
MYSQL_USERNAME=your app name... usually
MYSQL_PASSWORD=***** https://passwords-generator.org/ with 32 or more characters *****
MYSQL_PORT=3306
MYSQL_USE_SSL=0


# When first initialisation of the DB for MongoDB, you will need
# the MONGO_INITDB_ROOT_USERNAME and MONGO_INITDB_ROOT_PASSWORD
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=***** https://passwords-generator.org/ with 32 or more characters *****
MONGO_HOST=your host IP/domain name or docker container name
MONGO_DATABASE=your app name... usually
MONGO_USERNAME=your app name... usually
MONGO_PASSWORD=***** https://passwords-generator.org/ with 32 or more characters *****
MONGO_PORT=27017
